/MindBoxShapes/MindBoxShapes.Tests/obj
/MindBoxShapes/MindBoxShapes.Tests/bin
/MindBoxShapes/MindBoxShapes/obj
/MindBoxShapes/MindBoxShapes/bin
/MindBoxShapes/.vs/MindBoxShapes/DesignTimeBuild/.dtbcache.v2
